In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [2]:
open_streets = gpd.read_file("../data/Open_Streets_Locations/geo_export_4a00acf9-46e6-4357-a423-8d64d874a1b7.shp")

In [3]:
the_df = pd.DataFrame()
to_list = []
from_list = []
day = []
time = []
open_time = []
for i,j,k,p,opn in zip(open_streets.end_time.tolist(), open_streets.day_of_wee.tolist(), open_streets.from_stree.tolist(),open_streets.to_street.tolist(),open_streets.start_time.tolist()):
    to_list.append(k)
    from_list.append(p)
    splitlist = i.split(',')
    splitlist=[x for x in splitlist if x!='NA']
    opnlist = opn.split(',')
    opnlist=[x for x in opnlist if x!='NA']
    if j=="ALL":
        splitday = ['MTWRFSU']
    else:
        splitday = j.split(',')
    splitday = [j for i in splitday for j in i]
    splitday = [i for i in splitday]

    # End time
    if len(splitday)!=len(splitlist):
        if len(splitlist)<len(splitday):
            splitlist = splitlist + splitlist * (len(splitday)-len(splitlist))
        if len(splitlist)>len(splitday):
            if len(splitlist)==7:
                splitday =['M', 'T', 'W', 'R', 'F', 'S', 'U']
            if len(splitlist)>7:
                splitlist = splitlist[:len(splitday)]
                
                
     # Open time
    if len(splitday)!=len(opnlist):
        if len(opnlist)<len(splitday):
            opnlist = opnlist + opnlist * (len(splitday)-len(opnlist))
            
        if len(opnlist)>len(splitday):
            opnlist = ['5:00PM']* 5 + ['12:00PM']* 2

    splitday = [i for i in splitday if i!='' if i!=' ']
    splitlist = [i for i in splitlist if i!='' if i!=' ']
    
    day.append(splitday)
    time.append(splitlist)
    open_time.append(opnlist)


csvdf = pd.DataFrame(list(zip(from_list, to_list, day, time, open_time)), 
                   columns =['to_street2', 'from_stree2', 'day_open_fixed', 'end_time', 'open_time'])

the_df = the_df.append(csvdf, ignore_index=True)

In [4]:
m_values = []
t_values = []
w_values = []
r_values = []
f_values = []
s_values = []
u_values = []
for days, time, tt in zip(the_df.day_open_fixed,the_df.end_time, the_df.to_street2):
    if 'M' in days:
        m_values.append(time[days.index('M')])
    elif 'M' not in days:
        m_values.append(np.nan)
        
    if 'T' in days:
        t_values.append(time[days.index('T')])
    elif 'T' not in days:
        t_values.append(np.nan)
        
    if 'W' in days:
        w_values.append(time[days.index('W')])
    elif 'W' not in days:
        w_values.append(np.nan)
        
    if 'R' in days:
        r_values.append(time[days.index('R')])
    elif 'R' not in days:
        r_values.append(np.nan)
        
    if 'F' in days:
        f_values.append(time[days.index('F')])
    elif 'F' not in days:
        f_values.append(np.nan)
        
    if 'S' in days:
        # Dean Street
        if len(time)==0:
            time = ['10:00PM']
        s_values.append(time[days.index('S')])
    elif 'S' not in days:
        s_values.append(np.nan)
        
    if 'U' in days:
        u_values.append(time[days.index('U')])
    elif 'U' not in days:
        u_values.append(np.nan)

In [5]:
csvdf2 = pd.DataFrame(list(zip(m_values, t_values, w_values, r_values, f_values, s_values, u_values)), 
                   columns =['M_end', 'T_end', 'W_end', 'R_end', 'F_end', 'S_end', 'U_end'])

In [6]:
csvdf2

       M_end   T_end   W_end   R_end   F_end   S_end   U_end
0     8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM
1     8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM
2     8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM
3     8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM
4     8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM
...      ...     ...     ...     ...     ...     ...     ...
1824  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM
1825  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM
1826  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM
1827  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM
1828  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM  8:00PM

[1829 rows x 7 columns]

In [7]:
m_values = []
t_values = []
w_values = []
r_values = []
f_values = []
s_values = []
u_values = []
for days, time, tt in zip(the_df.day_open_fixed,the_df.open_time, the_df.to_street2):
    if 'M' in days:
        m_values.append(time[days.index('M')])
    elif 'M' not in days:
        m_values.append(np.nan)
        
    if 'T' in days:
        t_values.append(time[days.index('T')])
    elif 'T' not in days:
        t_values.append(np.nan)
        
    if 'W' in days:
        w_values.append(time[days.index('W')])
    elif 'W' not in days:
        w_values.append(np.nan)
        
    if 'R' in days:
        r_values.append(time[days.index('R')])
    elif 'R' not in days:
        r_values.append(np.nan)
        
    if 'F' in days:
        f_values.append(time[days.index('F')])
    elif 'F' not in days:
        f_values.append(np.nan)
        
    if 'S' in days:
        # Dean Street
        if len(time)==0:
            time = ['10:00PM']
        s_values.append(time[days.index('S')])
    elif 'S' not in days:
        s_values.append(np.nan)
        
    if 'U' in days:
        u_values.append(time[days.index('U')])
    elif 'U' not in days:
        u_values.append(np.nan)

In [8]:
csvdf3 = pd.DataFrame(list(zip(m_values, t_values, w_values, r_values, f_values, s_values, u_values)), 
                   columns =['M_open', 'T_open', 'W_open', 'R_open', 'F_open', 'S_open', 'U_open'])

In [9]:
csvdf3

      M_open  T_open  W_open  R_open  F_open  S_open  U_open
0     8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM
1     8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM
2     8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM
3     8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM
4     8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM
...      ...     ...     ...     ...     ...     ...     ...
1824  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM
1825  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM
1826  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM
1827  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM
1828  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM  8:00AM

[1829 rows x 7 columns]

In [10]:
final = pd.concat([open_streets, the_df, csvdf2, csvdf3], axis=1, ignore_index=False)
# final = final.replace({"ALL": "24/7"})

In [11]:
final = final.drop(['to_street2', 'from_stree2', 'day_open_fixed', 'end_time', 'open_time'], axis = 1)

In [12]:
final = final[final["type"]!="Protected Bike Lane"]

In [14]:
final[final=="8:00PM"]

/Users/kristenakey/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,borough,day_of_wee,from_stree,length_in_,location_p,nhoodname,on_street,date_open_,time_open_,segmentid,...,F_end,S_end,U_end,M_open,T_open,W_open,R_open,F_open,S_open,U_open
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8:00PM,8:00PM,8:00PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8:00PM,8:00PM,8:00PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8:00PM,8:00PM,8:00PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8:00PM,8:00PM,8:00PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8:00PM,8:00PM,8:00PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8:00PM,8:00PM,8:00PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8:00PM,8:00PM,8:00PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8:00PM,8:00PM,8:00PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8:00PM,8:00PM,8:00PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8:00PM,8:00PM,8:00PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
final = final.replace(["8:00AM", "8:30AM", "9:00AM", "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM", "3:00PM", "4:00PM", "5:00PM","5:30PM", "6:00PM", "7:00PM", "8:00PM", "9:00PM", "10:00PM", "11:00PM", "12:00AM"], [8, 9, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 18, 19, 20, 21, 22, 23, 24])

In [32]:
final.to_file("/Users/kristenakey/Documents/GitHub/Fall2020-Project2-group2/output/open_street/open_streets.shp")